<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".ChatApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelloWorldChahua"
        android:usesCleartextTraffic="true"
        tools:targetApi="34">

        <property
            android:name="android.window.PROPERTY_ACTIVITY_EMBEDDING_SPLITS_ENABLED"
            android:value="true" />


        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.HelloWorldChahua">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="*" android:pathPrefix="/m/" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.auth.AuthActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.HelloWorldChahua" />

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:resizeableActivity="true"
            android:theme="@style/Theme.HelloWorldChahua"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.main.PlaceholderActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:resizeableActivity="true"
            android:theme="@style/Theme.HelloWorldChahua" />

        <activity
            android:name=".ui.chat.ChatActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:resizeableActivity="true"
            android:theme="@style/Theme.HelloWorldChahua"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.invite.InviteRedeemActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:resizeableActivity="true"
            android:theme="@style/Theme.HelloWorldChahua"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.media.MediaViewerActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.HelloWorldChahua" />

        <activity
            android:name=".ui.group.GroupInfoActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:resizeableActivity="true"
            android:theme="@style/Theme.HelloWorldChahua" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".service.ChatMessagingService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

    </application>

</manifest>
